body{
    margin: 0;
    background: -webkit-linear-gradient(90deg, rgb(152, 91, 135) 41%, rgb(46, 33, 163) 90%); 
    min-height: 100vh;
}

ul{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 70px;
    font-weight: 600;
}

li{
    margin-left: 2rem;
}

h1, h2, p, ul{
    font-family: 'montserrat';
}

h1, h2, ul{
   color: rgb(9, 3, 66); 
}

.main-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2rem;
}


.wrapper{
    background: rgb(251, 255, 240);
    width: 35rem;
    border-radius: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.fa-hippo{
    font-size: 40px;
    color: brown;
}

h1{
    font-size: 55px;
    margin-right: 2rem;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showMeFour, #hideMeFour{
    margin-left: 6.7rem;
}

.fa-circle-plus, .fa-circle-minus{
    font-size: 30px;
    color:rgb(152, 91, 135);
    margin-left: 0.5rem;
}

.fa-circle-minus{
    display: none;
}

p{
    display: none;
}

.keep-scrolling{
    font-size: 50px;
    color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
}

.arrow{
    font-size: 100px;
    color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 18rem;
    margin-bottom: 10rem;
}

.fa-arrow-down{
    margin-left: 20rem;
}

.container-one{
    background: rgb(152, 91, 135);
    padding-top: 20rem;
    padding-bottom: 30em;
}

.container-two{
    background: rgb(46, 33, 163);
    padding-top: 20rem;
    padding-bottom: 30em;
}

.container-three{
    background: rgb(9, 3, 66);
    padding-top: 20rem;
    padding-bottom: 30em;
}

