body{
    margin: 0;
    background: -webkit-linear-gradient(90deg, rgb(152, 91, 135) 41%, rgb(46, 33, 163) 90%); 
}

ul{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    font-weight: 600;
}

li{
    margin-left: 1rem;
}

h1, h2, p, ul{
    font-family: 'montserrat';
    cursor: pointer;
}

.fact:hover{
    color: #403353;
}

h1, h2, ul{
   color: rgb(9, 3, 66); 
}
 
.main-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2rem;
}


.wrapper{
    background: rgb(251, 255, 240);
    width: 35rem;
    border-radius: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.fa-hippo{
    font-size: 40px;
    color: brown;
}

h1{
    font-size: 55px;
    margin-right: 2rem;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showMeFour, #hideMeFour{
    margin-left: 6.7rem;
}

.fa-circle-plus, .fa-circle-minus{
    font-size: 30px;
    color:rgb(152, 91, 135);
    margin-left: 0.5rem;
}

.fa-circle-minus{
    display: none;
}

#answer-one, #answer-two, #answer-three, #answer-four{
    display: none;
}

.keep-scrolling{
    font-size: 50px;
    color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
}

.arrow{
    font-size: 100px;
    color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 18rem;
    margin-bottom: 10rem;
}

.fa-arrow-down{
    margin-left: 20rem;
}

.container-one{
    background: #403353; 
}

.container-two{
    background: rgb(46, 33, 163); 
}

.container-three{
    background: rgb(9, 3, 66); 
}

.container-one, .container-two, .container-three{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 15em;
    padding-left: 25rem;
    padding-right: 25rem;
}


.wrap, .quest{
    color: wheat;

}

.quest{
    margin-bottom: 5rem;
}

.answ{
    margin-right: 3rem;
}

@media screen and (max-width: 1080px){
    ul{
        list-style-type: none;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 40px;
        font-weight: 600;
        margin-top: 7rem;
        margin-right: 1rem;
    }
    
    li{
        margin-left: 0rem;
    }

    .wrapper{
        background: rgb(251, 255, 240);
        width: 35rem;
        border-radius: 13px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
    }

    h1{
        font-size: 45px;
        margin-right: 0rem;
    }

    .keep-scrolling{
        font-size: 20px;
        color: brown;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .arrow{
        font-size: 50px;
        color: brown;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 5rem;
        margin-bottom: 10rem;
    }

    .fa-arrow-down{
        margin-left: 5rem;
    }

    .container-one, .container-two, .container-three{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8em;
        padding-left: 10rem;
        padding-right: 10rem;
    }

}

@media screen and (max-width: 500px){
    ul{
        list-style-type: none;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 35px;
        font-weight: 600;
        margin-top: 7rem;
        margin-right: 1rem;
    }
    
    li{
        margin-left: 0rem;
    }

    .wrapper{
        background: rgb(251, 255, 240);
        width: 20rem;
        border-radius: 13px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
    }

    h1{
        font-size: 45px;
        margin-right: 0rem;
    }

    .keep-scrolling{
        font-size: 20px;
        color: brown;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .arrow{
        font-size: 50px;
        color: brown;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 5rem;
        margin-bottom: 10rem;
    }

    .fa-arrow-down{
        margin-left: 5rem;
    }

    .container-one, .container-two, .container-three{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8em;
        padding-left: 5rem;
        padding-right: 5rem;
    }
} 