body{
    margin: 0;
    background: -webkit-linear-gradient(90deg, rgb(152, 91, 135) 41%, rgb(46, 33, 163) 90%); 
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

h1, h2, p{
    font-family: 'montserrat';
}

h1, h2{
   color: rgb(9, 3, 66); 
}

.wrapper{
    background: rgb(251, 255, 240);
    width: 35rem;
    border-radius: 13px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.fa-hippo{
    font-size: 40px;
    color: brown;
}

h1{
    font-size: 55px;
    margin-right: 2rem;
}