body{
    margin: 0;
    background: -webkit-linear-gradient(90deg, rgb(152, 91, 135) 41%, rgb(46, 33, 163) 51%); 
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

h1, h2, p{
    font-family: 'montserrat';
}

h1, h2{
   color: rgb(9, 3, 66); 
}

.wrapper{
    background: azure;
    width: 35rem;
    border-radius: 13px;
}